<Jumbo>
  <h2>Welcome to Book Store!</h2>
  <p>We have the best collection of book here</p>
</Jumbo>

<div class="books">
  <ul class="results">
    <li><Book> </Book></li>
    <li><Book /></li>
    <li><Book /></li>
  </ul>
</div>